body{
	margin: 0px;
	text-align: center;	

}
h1{
	margin-bottom:  20px;
	
}
p{
	margin: 0px;
}
h2{
	margin: 0px;
}



.hellow{
	display: inline-block;
	position: absolute;
	top: 100px;
	right: 500px;
}
.first{
	margin-left: 0px;
	padding: 0px;
	height: 900px;
	border: 0px;

}
	
}
.second{
	background-color: pink;
	margin-left: 0px;
	height: 500px

}
.third{
	background-color: #ffe9c5;
	margin-left: 0px;
	height: 200px

}
.fourth{
	background-color: #b4f2e1;
	margin-left: 0px;
	height: 300px

}
.image{
    position: absolute;
	width: 950px;
	height: 400px;
	bottom: 0px;
	right: 300px;

}

.cloud-right{
	position: absolute;
	top: 40px;
	right: 40px;
}



.cloud-left{
	position: absolute;
	top: 200px;
	left: 40px;
}

